.welcome {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url("../../../img/background/rec.png"), url("../../../img/background/bg.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center bottom; 
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__logo {
    margin-bottom: 20px;
}

.welcome__button {
    padding: 0 60px;
    background-color: #FF5500;
}

.welcome__button:hover {
    background-color: #FF3D00;
}