.card-offer {
    padding: 40px 30px 50px 22px;
    min-height: 476px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.card-offer__container-icon {
    margin-bottom: 25px;
}

.card-offer__content {
    color: #666666;
    flex: 1;
}

.card-offer__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 17px;
}

.card-offer__features {
    margin-bottom: 23px;
    display: flex;
}

.card-offer__features-item, 
.card-offer__features-item {
    font-weight: 300;
    flex: 1;
    margin-right: 17%;
}

.card-offer__features-bold {
    font-weight: 700;
}

.card-offer__text {
    margin-bottom: 35px;
    font-size: 14px;
}

.card-offer__wrap-button {
    margin-top: auto;
}