.greeting__container {
}

.greeting {
    text-align: center;
}

.greeting__title {
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.greeting__text {
    font-size: 18px;
    margin-bottom: 40px;
}