.news {
    margin-bottom: 140px;
}

.news__title {
    text-align: left;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.news__list {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.news__item {
    width: calc(100% / 2 - 8px);
}