.promo-card {
    padding: 67px 205px 63px 85px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.promo-card__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.promo-card__text {
    line-height: 1.69;
    margin-bottom: 43px;
}