.promo__desc {
    margin-top: -410px;
    margin-left: 352px;
}

.promo::before {
    content: "";
    min-width: 490px;
    min-height: 505px;
    background: url(../../../img/promo-card/cameraman.png) no-repeat;
    display: block;
}