.promo__desc {
    margin-bottom: 55px;
    margin-left: -137px;
}

.promo::before {
    content: "";
    min-width: 490px;
    min-height: 505px;
    align-self: center;
    background: url(../../../img/cameraman.png) center center / cover no-repeat;
    display: block;
    margin-bottom: 95px;
}