@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #17191c;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: auto;    
}

.wrapper {
    min-width: 1142px;
    padding: 0;
    background-image: url(img/hero.png), url(img/bottom-pic.png);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain, contain;

}

.container {
    position: relative;
    margin: 0 auto;
    width: 1142px;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none    
}

ul li {
    list-style: none;
}

ul li:last-child {
    margin-right: 0;
}

.button {
    display: inline-block;
    background-color: white;
    text-align: center;
    line-height: 55px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.greeting__button {
    border: 1px solid #FF3D00;
    color: #FF3D00;
    padding: 0 55px;
}

.greeting__button:hover {
    background-color: #FF3D00;
    color: white;
}

.card-offer__button {
    border: 1px solid  #FF5500;
    color: #FF5500;
    padding: 0 53px;        
}

.card-offer__button:hover {
    background-color: #FF5500;
    color: white;    
}

.promo__button {
    border: 1px solid #FF5400;
    color: #FF5400;
    padding: 0 39px;
}

.promo__button:hover {
    background-color: #FF5400;
    color: white;     
}

.header {
    margin-top: 20px;
    height: 70px;
    margin-bottom: 137px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.header .menu {
    position: absolute;
    top: 18px;
    left: 438px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover {
    text-decoration: underline;
}

.contacts {
    position: absolute;
    text-align: right;
    top: 7px;
    right: 0;
}

.contacts__phone {
    font-size: 26px;
    
}

.contacts__info {
    margin-top: -10px;
}

.contacts__info:hover + .contacts__hover{
    display: block;
} 

.contacts__link {
    font-size: 13px;
    color: #FF3D00; 
    cursor: pointer;
    text-decoration: none;
}

.contacts__link:hover {
    text-decoration: underline;
}

.contacts__hover {
    display: none;
    position: absolute;
    top: 55px;
    right: -10px;    
    width: 125px;
    height: 45px;
    background-color: #FFFFFF;
    opacity: 0.8;
    color: black;
    font-style: normal;
    line-height: 1;
    padding: 10px 20px;
    border-radius: 5px;
}

.contacts__timetable {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contacts__dinner {
    font-size: 13px;
    font-weight: 600;
}

.content { 
    margin-bottom: 100px;   
}

.greeting {
    text-align: center;
    margin-bottom: 230px;
}

.greeting__title {
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.greeting__text {
    font-size: 18px;
    margin-bottom: 40px;
}

.greeting__button {
}

.offers {
    margin-bottom: 180px;
}

.offers__item {
    display: inline-block;
    vertical-align: top;
}

.card-offer {
    padding: 40px 20px;
    width: 320px;
    min-height: 395px;
    text-align: left;
    background-color: white;
    border-radius: 5px;
}

.offers__item {
    margin-right: 24px;    
}

.card-offer__icon {
    margin-left: 5px;
}

.card-offer__content {
    color: #666666;
    padding-top: 20px;
}

.card-offer__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.card-offer__features {
    margin-bottom: 25px;
}

.card-offer__features-countpeople, 
.card-offer__features-longtime {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;
    width: 120px;
    font-weight: 300;
}

.card-offer__features-bold {
    font-weight: 700;
}

.card-offer__text {
    margin-bottom: 35px;
    font-size: 14px;
    width: 300px;
}

.card-offer__button {
}

.news {
    margin-bottom: 140px;
}

.news__title {
    text-align: left;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.news__list {
    padding: 10px 0px;
    margin-bottom: 60px;
}

.news__item {
    display: inline-block;
}

.card-news {
    width: 556px;
    margin-right: 18px;
    text-align: left;
}

.card-news__picture {
}

.card-news__desc {
    margin-top: -147px;
    margin-left: 30px;
    width: 450px;
}

.card-news__date {
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}

.card-news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-news__text {
}

.pagination {
    text-align: center;
}

.pagination__info, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    font-size: 16px;
    padding: 10px;
    margin-right: 7px;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle; 
    border-radius: 16px;
    margin-right: -2px; 
    width: 32px;
    height: 32px;    
}


.pagination__item:hover, .pagination__item.active {
    background-color: #FF5500;
}

.pagination__link {
    line-height: 32px;
    text-align: center;    
    font-size: 16px;
    font-weight: 700;
}

.promo {
    position: relative;
}

.promo__photo {
}

.promo__desc {
    position: absolute;
    top: 95px;
    left: 354px;
    width: 625px;
    min-height: 315px;
    z-index: 1;
    padding: 70px 80px;
    padding-right: 80px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.promo__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.promo__text {
    width: 500px;
    line-height: 1.69;
    margin-bottom: 40px;
}

.promo__button {
}

.footer {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    height: 70px;
    padding-top: 36px;
}

.footer .logo {
    position: absolute;
    top: 0;
    left: 0;
}

.footer .menu {
    position: absolute;
    top: 15px;
    left: 327px;
}

.socials {
    position: absolute;
    top: 15px;
    left: 710px;    
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.social__icons {
    width: 36px;
    height: 36px;    
}

.telegram {
    background-image: url(./img/telegram.png);
}

.vk {
    background-image: url(./img/vk.png);
}

.facebook {
    background-image: url(./img/f.png);
}

.instagram {
    background-image: url(./img/in.png);
}

.footer .contacts__phone {

}

.contacts__text {
    font-size: 11px;
    font-style: normal;
}
