@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
    background-color: #17191c;
    color: white;
    background-image: url(img/hero.png);
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    width: 1150px;
}

h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none    
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.button_style_common, .button_style_offer, .button_style_promo {
    display: inline-block;
    width: 195px;
    height: 55px;
    background-color: #FF3D00;
    color: white;
    text-align: center;
    line-height: 55px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.button_style_common:hover, .button_style_offer:hover, .button_style_promo:hover {
    width: 168px;
    background-color:#DA0100;
}

.button_style_offer {
    width: 198px;
}

.button_style_promo {
    width: 168px;
}

.header {
    position: relative;
    top: 20px;
    height: 150px;
}

.header .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 198px;
    height: 46px;
}

.header .menu {
    position: absolute;
    top: 5px;
    left: 440px;
    width: 320px;
    height: 19px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
}

.menu__link {
    font-size: 14px;
}

.header .contacts {
    position: absolute;
    top: 0;
    right: 0;
    width: 191px;
    height: 35px;
}

.contacts__phone {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
}

.contacts__info {
    position: absolute;
    top: 30px;
    right: 0;
}

.contacts__info:hover + .contacts__hover{
    display: block;
} 

.contacts__link {
    font-size: 13px;
    color: #FF3D00; 
    cursor: pointer;
}

.contacts__hover {
    display: none;
    position: absolute;
    top: 55px;
    right: -10px;    
    width: 125px;
    height: 65px;
    background-color: #FFFFFF;
    opacity: 0.8;
    color: black;
    font-style: normal;
    line-height: 1;
    padding: 0 20px;
}

.contacts__timetable {
    font-size: 13px;
    font-weight: 700;
}

.contacts__dinner {
    font-size: 13px;
    font-weight: 600;
}

.content {
    position: relative;
    top: 70px; 
}

.greeting {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 900px;
}

.greeting__title {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.2;
}

.greeting__text {
    position: relative;
    top: 20px;
    font-size: 18px;
}

.greeting__button {
    position: relative;
    top: 60px;
}

.offers {
    position: relative;
    top: 290px;
    text-align: center;
}

.offers__item {
    display: inline-block;
    vertical-align: top;
}

.card-offer {
    position: relative;
    margin: 0 10px;
    padding: 40px;
    width: 280px;
    height: 400px;
    text-align: left;
    background-color: white;
}

.card-offer__icon {
    position: relative;
    width: 84px;
    height: 80px;
}

.card-offer__content {
    position: absolute;
    color: #666666;
    height: 340px;
    width: 270px;
}

.card-offer__title {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    top: 30px;
}

.card-offer__features {
    position: relative;
    top: 40px;
}

.card-offer__features-countpeople, 
.card-offer__features-longtime {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    width: 125px;
    font-size: 16px;
    font-weight: 300;
}

.card-offer__features-countpeople b, 
.card-offer__features-longtime b {
    font-weight: 700;
}

.card-offer__text {
    position: relative;
    top: 50px;
    font-size: 14px;
}

.card-offer__button {
    position: absolute;
    bottom: 40px;
}

.news {
    position: relative;
    top: 440px;
    padding: 20px;
}

.news__list {
    position: relative;
    top: 20px;
    height: 500px;
}

.news__title {
    position: relative;
    left: 20px;
    text-align: left;
    font-size: 42px;
    font-weight: 800;
}

.news__item {
    display: inline-block;
}

.card-news {
    position: relative;
    width: 500px;
    height: 390px;
    margin: 15px;
    padding: 10px;
    text-align: left;
}

.card-news__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-news__desc {
    position: relative;
    top: -150px;
    padding: 20px;
}

.card-news__date {
    font-size: 14px;
}

.card-news__title {
    font-size: 24px;
    font-weight: 700;
}

.card-news__text {
    font-size: 14px;
}

.pagination {
    position: relative;
    text-align: center;
    left: 20px;
}

.pagination__info, .pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__info {
    font-size: 16px;
    padding: 10px;
}

.pagination__item  {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.pagination__item:hover {
    background-color: #FF5500;
}

.pagination__link {
    line-height: 32px;
    text-align: center;    
    font-size: 16px;
    font-weight: 700;
}

.promo {
    position: relative;
    top: 550px;
}

.promo__photo {
    position: relative;
    top: 0;
    left: 0;
}

.promo__desc {
    position: relative;
    top: -400px;
    left: 380px;
    width: 595px;
    height: 315px;
    padding: 70px;
    padding-right: 80px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.promo__title {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}

.promo__text {
    position: relative;
    top: 20px;
    line-height: 2;
}

.promo__button {
    position: relative;
    bottom: -40px;
}

.footer {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    position: relative;
    top: 270px;
}

.footer .logo {
    position: absolute;
    top: 30px;
    left: 0;
    width: 198px;
    height: 46px;
}

.footer .menu {
    position: absolute;
    margin: 0 auto;
    top: 50px;
    left: 320px;
    width: 320px;
    height: 19px;
}

.socials {
    position: relative;
    top: 30px;
    left: 720px;    
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin: 5px;
}

.telegram {
    background-image: url(./img/telegram.png);
}

.vk {
    background-image: url(./img/vk.png);
}

.facebook {
    background-image: url(./img/f.png);
}

.instagram {
    background-image: url(./img/in.png);
}

.footer .contacts {
    position: absolute;
    top: 30px;
    right: 0;
    width: 191px;
    height: 35px;
    text-align: right;
}

.footer .contacts__phone {
    top: 20px;
}

.contacts__text {
    font-size: 11px;
    font-style: normal;
}
