* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #17191c;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

.wrapper {
    overflow: hidden;
    min-width: 1200px;
}

.container {
    margin: 0 auto;
    width: 1142px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;    
    font-weight: normal;
}

a {
    color: inherit;
    font-style: normal;
    text-decoration: none    
}

ul li {
    list-style: none;
}

ul li:last-child {
    margin-right: 0;
}

img {
    display: block;
}

.button {
    display: inline-block;
    text-align: center;
    line-height: 53px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
