.card-review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 25px 30px;
    background-color: #F4F5F5;
}

.card-review__header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.card-review__photo {

}

.card-review__user-data {
    font-size: 24px;
    font-weight: 700;
    padding-left: 23px;
}

.card-review__user-link::after {
    content: url("../../../img/socials/vk-blue.png");
}

.card-review__user-link {
    display: block;
    color:#1A1B1E;
    text-decoration: none;
    transition: color 0.3s linear, underline 0.2s linear;
}

.card-review__user-link:hover {
    color:#2E77A4;
    text-decoration: underline;
}

.card-review__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 10px;
}

.card-review__tag-item {
    margin: 0 5px 5px 0;
}

.card-review__content {
    padding: 0 5px;
}

.card-review__title {
    font-size: 30px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 10px;
}

.card-review__text {
    color: #818181;
    line-height: 1.7;
    margin-bottom: 50px;
}

.card-review__date {
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E;
}