.card-review {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    background-color: #F4F5F5;
}

.card-review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.card-review__photo {

}

.card-review__user-data {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 11px;
}

.card-review__user-link::after {
    content: url("../../../img/socials/vk-blue.png");
    height: 29px;
}

.card-review__user-link {
    color:#1A1B1E;
    text-decoration: none;
}

.card-review__user-link:hover {
    color:#2E77A4;
    text-decoration: underline;
}

.card-review__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.review__tag-item {
}

.card-review__content {

}

.card-review__title {
    font-size: 30;
    font-weight: 700;
    color: #202020;
}

.card-review__text {
    color: #818181;
}

.card-review__date {
    font-size: 14px;
    font-weight: 600;
    color: #1A1B1E;
}