.form-review__row {
    display: flex;
    margin-bottom: 25px;
}

.form-review__input {
    flex: 1;
    margin-right: 30px;
    background-color: #fff;
    padding: 0 30px;
    color: #1A1B1E;
    font-size: 18px;
    line-height: 2;
    min-height: 65px;
    border: 1px transparent;
    border-radius: 5px;
}

.form-review__input:last-child {
    margin-right: 0;
}

.form-review__input::placeholder {
    color: #666;
}

.form-review__input:focus {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-review__input--textarea {
    padding-top: 20px;
    min-height: 235px;
    resize: none;
}

.form-review__controls {
    display: flex;
    margin-bottom: 23px;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.form-review__controls-title {
    width: 38%;
    font-size: 18px;
    color: #1A1B1E;
    padding-top: 10px;
}

.controls__item {
    margin: 0 10px 10px 0;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox {
    display: none;
}

.controls__checkbox:checked ~ .controls__tag {
    background-color: #F2D4C9;
}

.form-review__buttons {
    display: flex;
    justify-content: flex-end;
}

.form-review__button--reset, .form-review__button--submit {
    border: none;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0px 43px;
}

.form-review__button--reset {
    background-color: #8e8e8e;
    margin-right: 10px;
}

.form-review__button--reset:hover {
    background-color: #2b2b2b;
}

.form-review__button--submit {
    background-color: #FF5500;
    ;
}

.form-review__button--submit:hover {
    background-color: #FF3D00;
}