.breadcrumbs__list {
    display: flex;
    font-size: 14px;
    font-weight: 400;    
}

.breadcrumbs__item::after {
    content: "/"
}

.breadcrumbs__link:hover, .breadcrumbs__link--activ {
    font-weight: 700;
}

.breadcrumbs__item--activ::after {
    content: "";
}