.partners__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25%;
}

.partners__img {
    cursor: pointer;
    filter: grayscale();
}

.partners__img:hover {
    filter: none;
}

.partners__img-container:nth-child(1) {
    justify-content: flex-start;
}

.partners__img-container:nth-child(5) {
    justify-content: flex-start;
}

.partners__img-container:nth-child(4) {
    justify-content: flex-end;
}

.partners__img-container:nth-child(8) {
    justify-content: flex-end;
}