.services-card {
    display: flex;
}

.services-card__content {
    padding: 10px 0px 0px 58px;
}

.services-card__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}

.services-card__text {
    line-height: 1.7;
    margin-bottom: 33px;
}