.services__content {
    margin-bottom: 57px;
}

.services__list {
    display: flex;
    flex-direction: column;
}

.services__item {
    margin-bottom: 50px;
}

.services__item:last-child {
    margin-bottom: 0px;
}

.services-card__img {
    max-height: 333px;
}