.top-line {
    min-height: 416px;
    background-image: url(../../../img/background/top-line.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #17181a;
}

.container__top-line {
    padding: 16px 0; 
}

.header__top-line {
    margin-bottom: 105px;
}

.top-line__page-title {
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase; 
    margin-bottom: 80px;
}