.contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 19px;
}

.contacts__phone {
    font-size: 26px;
    line-height: 0.7;
}

.contacts__info {
    position: relative;
}

.contacts__dropdown {
    right: -9999px;
    opacity: 0;
    
}

.contacts__info:hover .contacts__dropdown {
    right: 0;
    opacity: 0.8;
    transition: opacity 0.3s;
} 

.contacts__link {
    font-size: 13px;
    color: #FF3D00; 
    cursor: pointer;
    text-decoration: underline;
}

.contacts__dropdown {
    position: absolute;
    top: 35px;
    width: 160px; 
    background-color: #FFFFFF;
    color: #000;
    font-style: normal;
    line-height: 1;
    padding: 15px 17px;
    border-radius: 5px;
    text-align: left;
}

.contacts__dropdown::before {
    content: "";
    display: block;
    border: 15px solid transparent;
    width: 0px;
    height: 0px;
    border-bottom-color: rgba(255, 255, 255, 1);

    position: absolute;
    top: -30px;
    right: 30px;
}

.contacts__dropdown::after {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    left: -40px;
    right: 0;
    top: -17px;
}

.contacts__timetable {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 8px;
}

.contacts__dinner {
    font-size: 13px;
    font-weight: 600;
}