.container__footer {
    padding-top: 38px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.footer__col {
}

.footer__col--left, .footer__col--right {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.footer__col--left {
    width: 51.5%;
}

.footer__col--right {
    width: 38.5%;
}

.contacts__text {
    font-size: 11px;
    font-style: normal;
    line-height: 1;
    margin-bottom: 15px;
}

.logo--footer {
    margin-right: 10%;
}

.contacts--footer {
    padding-top: 5px;
}