.menu__list {
    display: flex;
    flex-wrap: wrap;  
}

.menu__item {
    margin-right: 55px;
}

.menu__link {
    font-size: 14px;
}

.menu__link:hover, .menu__item--active {
    color: #FF3D00;
}