.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;    
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: center center no-repeat;   
}

.socials__link--telegram {
    background-image: url(../../../img/socials/telegram.png);
}

.socials__link--telegram:hover {
    background-image: url(../../../img/socials/telegram-hover.png);
}

.socials__link--vk {
    background-image: url(../../../img/socials/vk.png);
}

.socials__link--vk:hover {
    background-image: url(../../../img/socials/vk-hover.png);
}

.socials__link--facebook {
    background-image: url(../../../img/socials/f.png);
}

.socials__link--facebook:hover {
    background-image: url(../../../img/socials/f-hover.png);
}

.socials__link--instagram {
    background-image: url(../../../img/socials/in.png);
}

.socials__link--instagram:hover {
    background-image: url(../../../img/socials/in-hover.png);
}