.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    flex-wrap: wrap;   
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: url(../../../img/socials/social-icons.png) no-repeat;
}

.socials__link--telegram {
    background-position: 0 -144px;
}

.socials__link--telegram:hover {
    background-position: 0 -180px;
}

.socials__link--vk {
    background-position: 0 -216px;
}

.socials__link--vk:hover {
    background-position: 0 -252px;
}

.socials__link--facebook {
    background-position: 0 0px;    
}

.socials__link--facebook:hover {
    background-position: 0 -36px;    
}

.socials__link--instagram {
    background-position: 0 -72px;
}

.socials__link--instagram:hover {
    background-position: 0 -108px;
}