.partners__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-bottom: 65px;
}

.partners__link {
    filter: grayscale();
    transition: filter 0.3s linear;
}

.partners__link:hover {
    filter: none;
}

.partners__img-container:nth-child(4n) {
    justify-content: flex-end;
}

.partners__img-container:nth-child(4n + 1) {
    justify-content: flex-start;
}