.card-news {
    position: relative;
    overflow-y: hidden;
}

.card-news__picture {
    max-width: 100%;
}

.card-news__desc {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 22px 30px;
    min-height: 120px;
}

.card-news__date {
    display: block;
    font-size: 14px;
    margin-bottom: 13px;
}

.card-news__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.card-news__text {

}